<!-- app/views/calculator/index.html.erb -->
<div id="smaller-container">
  <%= turbo_frame_tag "calculator" do %> <%= form_tag("/calculate", method:
  :post, data: { turbo_action: 'replace', turbo_frame: 'calculator' }) do %> <%=
  text_field_tag :display, nil, readonly: true, style: "width: 100%; text-align:
  right; font-size: 2em; border: 0"
  %>
    </div>
    <div id="result">
      <%= turbo_frame_tag "result" do %> <% end %></div>
    <div style="display: absolute">
      <div
    id="keypad"
    style="
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      max-width: 300px;
      margin: auto;
    ">
        <% ['1', '2', '3', '+', '4', '5', '6', '-', '7', '8', '9', '*', 'C', '0',
    '/', '='].each do |button| %> <%= button_tag button, name: 'button', value:
    button, class: "keypad-button" %> <% end %>
      </div>
    </div>
    <input type="hidden" name="operation" id="operation">
    <input type="hidden" name="operator" id="operator">
    <input type="hidden" name="operand" id="operand">
  <% end %> <% end %>
<style>
  .keypad-button {
    width: 20%;
    height: 20%;
    font-size: 20px;
    padding: 20px;
    border: none;
    background-color: #eaeaea;
    cursor: pointer;
    font-family: monospace;
    transition: background-color 0.3s;
  }

  .keypad-button:hover {
    background-color: #ccc;
  }

  #smaller-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
  }

  #result {
    width: 100%;
    text-align: center;
    height: 100px;
  }

  #keypad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 300px;
    margin: auto;
  }
</style>
