<!DOCTYPE html>
<html>
  <head>
    <title>Calc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div id="container">
      <%= yield %>
      <p id="blurb">
        <a href="https://github.com/stuartleach/calc.lazy.nyc">
          github.com/stuartleach</a>
      </p>
    </div>
  </body>
</html>
<style>
  #container {
     display: absolute;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-family: monospace;
   }


   #blurb {
  font-size: 1.2em;
  font-family: monospace;
  text-align: center;
  /* font-weight: bold; */
  margin-top: 3vh;
  background-color: #eaeaea;
  padding: 20px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  /* opacity: 0.8; */
   }

   a {
  text-decoration: none;
  transition: 0.3s;
  color: black;
  opacity: 1;
  }

  a:hover {
    color:#7c95f1;
    transition: 0.3s;
  }

   body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
     background-color: #7c95f1;
   }
</style>
